.conteudo_container {
    display: grid;
    margin: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    
}
.conteudo_sec{
    background-color: rgb(192, 152, 230);
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    position: static;
    transition: all 0.5s;
}
.conteudo_sec :hover{
    background-color: #f4f4f4;
    color: #000;
    z-index: 1000;
    font-size: 3rem;
    margin: 0 auto;
    position: absolute;
    
}
.conteudo_tit{ 
    text-align: center;
    font-size: 2rem;

    
}
