.conteudo__container{
    padding: 2% 5%;
    display: grid;
    margin: 1rem;
    gap: 1rem;

    grid-template-columns: repeat(3, 1fr);
}

.conteudo__sec{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-primario);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 10px 10px 8px rgba(15, 11, 11, 0.181);
    transition: 0.5s ease-in-out;
}

.conteudo__sec:hover{
    
    transform: scale(1.02);
    cursor: pointer;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-primario);
}

.conteudo__btn{
    background-color: var(--cor-primaria);
    color: var(--cor-texto-primario);

    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    border: none;

    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2rem ;
}

.conteudo__btn:hover{
    background-color: var(--cor-secundaria);
    opacity: 0.85;
}

@media (max-width: 767px){
    .conteudo__container{
        grid-template-columns: 1fr;
    }
}